.container_modal {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  & .background {
    // background-color: #000000;
    // opacity: 0.3;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
  }

  & .Modal{
    background-color: #7AB2B2;
    border-radius: 8px;
    min-height: 400px;
    padding: 20px 40px;
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    & .close_button{
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      padding: 4px;
      & * {
        color: #ffffff;
      }
    }

    
  }
}
